.itomo-filter {
  color: #323832;
}

.itomo-filter .card {
  display: flex;
  padding: 12px 18px 28px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-radius: 12px;
  background: var(--White, #fff);
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.15);
}

.itomo-filter .card .title {
  font-size: 18px;
  font-weight: 500;
}

.itomo-filter .card .ant-input-outlined,
.itomo-filter .card .ant-picker-outlined {
  border: 0 !important;
  background: #f2f2f7 !important;
  width: 100% !important;
  height: 36px !important;
  border-radius: 4px !important;
}

/* TODO: Status */
.itomo-filter .status-item {
  display: flex;
  padding: 0 15px;
  gap: 15px;
  align-items: center;
  height: 56px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 0.5px solid transparent;
}

.itomo-filter .status-item:hover:not(.active) {
  background: #fafafa;
}

.itomo-filter .status-item .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  width: 36px;
  border-radius: 6px;
  background: #f8f9fd;
  color: #747e76;
}

.itomo-filter .status-item .label {
  font-weight: 400;
}

.itomo-filter .status-item .total {
  font-weight: 500;
  color: var(--color-primary);
}

.itomo-filter .status-item.active {
  border: 0.5px solid var(--color-primary);
  background: var(--color-bg-primary);
}

.itomo-filter .status-item.active .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: var(--color-primary);
  color: #fff;
}

.itomo-filter .status-item .label {
  font-weight: 400;
}

.itomo-filter .status-item .total {
  font-weight: 500;
  color: var(--color-primary);
}
