/* uploadModal.css */

/* Đảm bảo Ant Design Upload component chiếm toàn bộ không gian cần thiết */
.full-area-upload .ant-upload {
  display: block; /* Quan trọng để nó có thể bao bọc toàn bộ nội dung */
  width: 100%;
  height: 100%; /* Hoặc auto, tùy thuộc vào cách bạn muốn nó co giãn */
  padding: 0;
  margin: 0;
}

.upload-container {
  align-items: center;

  background: white;
  z-index: 10;
  height: 56px;
  border: 1px solid #ececed;
  border-radius: 4px;
}
.file-thumbnail {
}

.file-thumbnail img {
}

.file-thumbnail span {
}
.file-thumbnail .TrashIcon {
  z-index: 10;
}

.ant-popover-inner-content .hidden-file-list {
  padding: 8px 12px;
}

.hidden-file-list > div {
}

.hidden-file-list .flex {
}

.hidden-file-list img {
}

.hidden-file-list span {
  font-size: 0.85em;
  line-height: 1.2;
}

.file-thumbnail {
  min-width: 100px;
}

.preview-file-modal .ant-modal-content {
  padding: 4px !important;
}

.preview-file-modal .ant-modal-content button {
  top: 4px !important;
  right: 6px !important;
}

.preview-file-modal {
  padding-bottom: 0 !important;
}

.preview-file-modal .ant-modal-header::after {
  bottom: -8px;
  width: 100%;
  transform: translateX(0) !important;
}
