.float-label {
  position: relative;
  width: 100%;
  z-index: 999;
}

.float-label .label {
  z-index: 999;
}

.float-label .ant-input,
.float-label .ant-input-number-input,
.float-label .ant-picker,
.float-label .ant-input-textarea,
.float-label .ant-select,
.float-label .ant-select-selector {
  width: 100%;
  transition: all 0.2s ease;
}

.float-label .ant-select-selector {
  display: flex;
  align-items: center;
}

.float-label .label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.2s ease;
  pointer-events: none;
  padding: 0px;
  background-color: transparent;
  color: #999;
  padding: 0 6px;
}

.float-label .as-placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
}

.float-label .as-label {
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
}

.float-label .primary.as-placeholder {
  color: #16a34a9a;
}

.float-label .primary.as-label {
  color: #16a34a;
}

.float-label.active .label,
.float-label:focus-within .label {
  top: 14px;
  transform: translateY(-50%) scale(0.95);
  z-index: 999;
}

.float-label .ant-select-selection-item,
.float-label .ant-select-selection-placeholder {
  display: flex;
  align-items: center;
}

.float-label.inactive .label {
  display: none;
}

.float-label .ant-input-outlined:not(.ant-input-affix-wrapper) {
  padding-top: 26px !important;
}

.float-label .ant-input-affix-wrapper > .ant-input {
  padding-top: 19px !important;
}
