.ant-menu-light,
.ant-menu-light > .ant-menu:not(.ant-menu-sub) {
  background: transparent !important;
}

.ant-menu-inline .ant-menu-item,
.ant-menu-vertical:not(.ant-menu-sub) .ant-menu-item,
.ant-menu-inline .ant-menu-submenu-title,
.ant-menu-vertical:not(.ant-menu-sub) .ant-menu-submenu-title {
  height: 50px !important;
  line-height: 50px !important;
  margin-inline: 28px;
  margin-block: 8px;
  width: calc(100% - 56px) !important;
  position: relative;
  font-weight: 300;
  font-size: 1rem !important;
}

.ant-menu-sub {
  transition: background-color 0.3s ease-in-out;
}

.ant-menu-inline
  .ant-menu-item:not(.ant-menu-item-selected, .ant-menu-sub.ant-menu-inline .ant-menu-item):hover,
.ant-menu-vertical .ant-menu-item:not(.ant-menu-item-selected):hover,
.ant-menu-inline .ant-menu-submenu-title:not(.ant-menu-item-selected):hover,
.ant-menu-vertical .ant-menu-submenu-title:not(.ant-menu-item-selected):hover {
  background-color: transparent !important;
  outline: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.ant-menu-sub.ant-menu-inline .ant-menu-item:not(.ant-menu-item-selected):hover {
  background-color: transparent !important;
}

.ant-menu-sub.ant-menu-inline .ant-menu-item:hover:not(.ant-menu-item-selected)::before {
  width: calc(100% - 24px);
  left: 24px;
  background-color: transparent !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: 1px 3px 3px 1px;
}

.ant-menu-inline .ant-menu-item.ant-menu-item-selected,
.ant-menu-vertical .ant-menu-item.ant-menu-item-selected,
.ant-menu-inline .ant-menu-submenu-title.ant-menu-item-selected,
.ant-menu-vertical .ant-menu-submenu-title.ant-menu-item-selected {
  background-color: #bad4e9 !important;
  font-weight: 300;
}

.ant-menu-submenu-popup .ant-menu-vertical .ant-menu-submenu-title {
  display: flex;
}

.ant-menu-submenu-popup .ant-menu-vertical .ant-menu-submenu-title img {
  width: 23px;
}

.ant-menu-inline .ant-menu-item.ant-menu-item-selected::after,
.ant-menu-vertical .ant-menu-item.ant-menu-item-selected::after,
.ant-menu-inline .ant-menu-submenu-title.ant-menu-item-selected::after,
.ant-menu-vertical .ant-menu-submenu-title.ant-menu-item-selected::after {
  content: "";
  height: 100%;
  background-color: #006ec4;
  width: 3px;
  top: 0;
  left: 0;
  border-radius: 1.5px;
  position: absolute;
}

.ant-menu-sub.ant-menu-inline .ant-menu-item::after {
  left: 24px;
}

.ant-menu .ant-menu-item,
.ant-menu .ant-menu-submenu,
.ant-menu .ant-menu-submenu-title,
.ant-menu .ant-menu-item.ant-menu-item-selected,
.ant-menu .ant-menu-submenu.ant-menu-item-selected,
.ant-menu .ant-menu-submenu-title.ant-menu-item-selected {
  border-radius: 1px 3px 3px 1px !important;
}

.ant-menu-inline-collapsed > .ant-menu-item,
.ant-menu-inline-collapsed > .ant-menu-item-group > .ant-menu-item-group-list > .ant-menu-item,
.ant-menu-inline-collapsed
  > .ant-menu-item-group
  > .ant-menu-item-group-list
  > .ant-menu-submenu
  > .ant-menu-submenu-title,
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title {
  padding-inline: calc(50% - 39px) !important;
}

.ant-menu .ant-menu-item .ant-menu-item-icon + span,
.ant-menu .ant-menu-submenu-title .ant-menu-item-icon + span,
.ant-menu .ant-menu-item .anticon + span,
.ant-menu .ant-menu-submenu-title .anticon + span {
  margin-inline-start: 6px !important;
}

.ant-menu-inline-collapsed > .ant-menu-item .ant-menu-item-icon,
.ant-menu-inline-collapsed
  > .ant-menu-item-group
  > .ant-menu-item-group-list
  > .ant-menu-item
  .ant-menu-item-icon,
.ant-menu-inline-collapsed
  > .ant-menu-item-group
  > .ant-menu-item-group-list
  > .ant-menu-submenu
  > .ant-menu-submenu-title
  .ant-menu-item-icon,
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .ant-menu-item-icon,
.ant-menu-inline-collapsed > .ant-menu-item .anticon,
.ant-menu-inline-collapsed
  > .ant-menu-item-group
  > .ant-menu-item-group-list
  > .ant-menu-item
  .anticon,
.ant-menu-inline-collapsed
  > .ant-menu-item-group
  > .ant-menu-item-group-list
  > .ant-menu-submenu
  > .ant-menu-submenu-title
  .anticon,
.ant-menu-inline-collapsed > .ant-menu-submenu > .ant-menu-submenu-title .anticon {
  vertical-align: -6px;
}

.ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline,
.ant-menu-light > .ant-menu.ant-menu-inline .ant-menu-sub.ant-menu-inline {
  background: transparent !important;
}

.drawer-menu .ant-drawer-body {
  overflow: hidden;
}

.drawer-menu {
  width: 100% !important;
}

@media (min-width: 768px) {
  .drawer-menu {
    width: 442px !important;
  }
}

/* Horizontal */
.ant-menu.ant-menu-horizontal > .ant-menu-item,
.ant-menu.ant-menu-horizontal .ant-menu-submenu-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 52px;
}

.ant-menu-sub.ant-menu-inline .ant-menu-item::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 24px;
  background-color: #c4daeb;
  top: -1;
  left: 0;
}

.ant-drawer-content-wrapper .ant-menu-sub.ant-menu-inline .ant-menu-item::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 24px;
  background-color: #fff;
  top: -1;
  left: 0;
}
