.variant-table .ant-table-container .ant-table-body {
  padding-bottom: 0 !important;
}
.variant-table .ant-table-thead:not(.ant-table-expanded-row-level-1 .ant-table-thead) > tr > th {
  background: #fff !important;
  height: 36px !important;
}
.variant-table
  .ant-table-thead:not(.ant-table-expanded-row-level-1 .ant-table-thead)
  > tr
  > th::before {
  background: #fff !important;
}

.variant-table .ant-table-container .ant-table-body .ant-table-row .ant-table-cell {
  border-bottom: none !important;
}
